@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');



:root{
    --color-primary-400: black;
    --color-primary-300: red;
    --color-primary-200: gray;
    --color-primary-100: white;
    
}

body{
    background-color: var(--color-primary-300);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto Condensed', sans-serif;
}

body{
    background-color: var(--color-primary-300);
}

ul, li{

    list-style: none;
}

.content-container{
    max-width: 1500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.header{
    background-color: var(--color-primary-400);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    padding: 0 30px;

}

.header__logo-container{

    width: 160px;
    height: 30px;
    fill: var(--color-primary-300);
    
}

.header .header__nav-list{
    display: flex;
    height: 62px;
    padding: 8px;

}

.header__nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary-100);
    padding: 22px 18px;
}

.header__actions{
    color: var(--color-primary-100);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 10px;
    
}

.header__asus-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid var(--color-primary-200);
    padding-right: 20px;
    
}

.bi-search{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

.header__asus-person{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}

svg{
    pointer-events: auto;
}

.header__nav-item:hover{
    color: var(--color-primary-300);
    cursor: pointer;
    
}

a{
    color: var(--color-primary-100);
    text-decoration: none;
}

.header__logo-container:hover{
    cursor: pointer;
}   

a:hover{
    color: var(--color-primary-300);
}

.bi-search:hover{
    color: var(--color-primary-300);
    cursor: pointer;
}

.header__asus-container:hover{
    cursor: pointer;
}

.header__asus-person svg path {
    fill: var(--color-primary-100); 
    transition: 0.3s;
}

.header__asus-person:hover svg path {
    
    fill: var(--color-primary-300); 
}



